<div class="customer-background-color">
    <div class="curve">
        <p></p>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="heading">
                        <span>
                            <h1 class="heading-styles">Welcome to Brødrene Skog and our online project manager</h1>
                        </span>
                    </div>
                    <div class="body">
                        <span>
                            <p class="paragraph-styling">Thank you for choosing Brødrene Skog AS. This application will
                                help you as a customer to
                                follow your project step by step and have an update for all the information about
                                on going work for your project. You as a customer will have access to your offer,
                                drawing
                                plans, the timeline from start to end and other crucial information which is
                                necessary.
                                After the project ends, you will have access to all the documentation on the online
                                project manager page.
                            </p>
                            <span>
                                <button class="btn btn-danger start_button" [routerLink]="'/customer-view/project-offer'">
                                    Let's Start
                                </button>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>