.list{
    height:100%; 
}


img{
    height:auto;
    width:80%;
    padding-left: 15%;
    padding-top:5%;
    
}

.icon{
    color:black
}
.red {
    background-color: #fff;
    border-radius: 20px 0px 0px 20px!important;
    color:black;
    margin-left: 10px;
    margin-right:-8px;
  }

  .white{
      color:black;
      margin-left: 5px;
      margin-top:10px;
      border-radius: 0px 0 20px 0px;
      cursor: pointer;
  }
  .white:hover{
    background-color: var('shared.Colors.secondarycolor');
    color:black;
    margin-left: 5px;
    border-radius: 20px 0 0px 20px;
}

.sidebar-text{
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
   
}

.icon{
    font-size:20px;
    color:black;
}
.icon-active{
    font-size:20px;
    color:#C22B30
}

@media only screen and (min-width: 1920px) {

    .sidebar-text{
        font-size:25px;
        font-family:'Montserrat', sans-serif;
        font-weight: 700;
        
    }


    .icon{
        font-size:22px;
        color:black;
    }
    .icon-active{
        font-size:22px;
        color:#C22B30
    }

}