.profile{
    height:250px;
  }
  .profile-img{
    height:150px;
    width:150px;
    object-fit: contain;
  }
  .profile-pic{
    height:30px;
    width:30px;
    
  }
  .dropbtn{
    background-color: transparent;
    border:none;
    margin-top:5%;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}


  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    margin-left:-200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:280px;
  }
  
  .dropdown-content1 .a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:300px;
    
    text-align: left;
  }
  
  
  .dropdown-content1 a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content1 {display: block;}



  .center {
   
    text-align: center;
    
    }

    @media only screen and (min-height: 600px) and (min-width: 1024px) {


      .container-fluid{
        height:700px;

      }
      .row{
        height:700px;
      }
    
    }


    @media only screen and (min-height: 800px) and (min-width: 1024px) {


      .container-fluid{
        height:900px;

      }
      .row{
        height:900px;
      }
    
    }


    @media only screen and (min-height: 720px) and (min-width: 1280px) {


      .container-fluid{
        height:950px;

      }
      .row{
        height:950px;
      }
    }

    @media only screen and (min-height: 900px) and (min-width: 1300px) {


      .container-fluid{
        height:950px;

      }
      .row{
        height:950px;
      }
    
    }


    @media only screen and (min-height: 1050px) and (min-width: 1680px) {


      .container-fluid{
        height:1080px;

      }
      .row{
        height:1080px;
      }
    
    }



     @media only screen and (min-height: 1020px) and (min-width: 1920px) {


      .container-fluid{
        height:1080px;

      }
      .row{
        height:1080px;
      }
    }


    @media only screen and (min-height: 1200px) and (min-width: 1920px) {


      .container-fluid{
        height:1250px;

      }
      .row{
        height:1250px;
      }
    }
