/* header css*/
.curve {
  left: -8px;
  height: 80px;
  width: 80px;
  top: -17px;
  position: relative;
  background-color: #c22b30;
}

.curve:after {
  content: "";
  position: absolute;
  margin-left: 1px;
  border: 2px solid #fff;
  background-color: #fff;
  padding: 60%;
  border-top-left-radius: 45px;
}

.heading {
  font-size: 30px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
}

/* Next Css */

.row-padding {
  padding-top: 2%;
  padding-left: 1%;
}

button {
  border: none;
  border-radius: 20px;
}

.icon {
  color: #c3a34e;
  margin-top: -30px;
  font-size: 40px;
}
.backIcon {
  font-size: 25px;
}
.homeIcon {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.app {
  background-color: #f2f2f2;
  height: 100%;
}

.row-padding {
  padding-top: 2%;
}

.profile {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -50px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}

.profile-pic {
  margin-top: -20px;
  height: 40px;
  width: 40px;
}

.small-text {
  font-size: 10px !important;
}

.drpBtn {
  background-color: transparent !important;
  border: none;
  outline: 0;
  margin-top: -10px;
}
.dropbtn1 {
  color: white;
  vertical-align: middle;
  background-color: transparent;
  color: #000;

  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 5%;
  font-size: 15px;
  display: none;
  position: absolute;
  color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .button1 {
  margin: 5%;
}

.dropdown-content .content-item {
  width: 300px;
  text-align: left;
}

.dropdown-content .content-item p {
  text-shadow: 2px 2px 4px #000000;
  font-size: 15px;
  display: inline-flex;
  margin-left: 2%;
  vertical-align: middle;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  padding: 2%;
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 .dropdown-content-item1 {
  width: 350px;
  height: 200px;
  text-align: left;
}

.dropdown-content1 .dropdown-content-item1 p {
  font-size: 12px;
  display: inline-flex;
  margin-left: 2%;
  vertical-align: middle;
}
.dropdown-content1 a:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown-content2 {
  padding: 2%;
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 .dropdown-content-item1 {
  width: 350px;
  height: 200px;
  text-align: left;
}

.dropdown-content2 .dropdown-content-item1 p {
  font-size: 12px;
  display: inline-flex;
  margin-left: 2%;
  vertical-align: middle;
}
.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

/* */

#outer-circle {
  background: #a9aaab;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-flex;
  /* 
       Child elements with absolute positioning will be 
       positioned relative to this div 
      */
}
.inner-circle {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-left: 2%;
  display: inline-flex;
  /*
       Put top edge and left edge in the center
      */

  /* 
       Offset the position correctly with
       minus half of the width and minus half of the height 
      */
}
.icons {
  display: inline;
  margin-right: 5%;
  margin-top: -30px;
  float: right;
  display: block;
}

.icons2 {
  opacity: 0.5;
  height: 15%;
  width: 15%;
  display: inline;
  margin-right: 5%;
  margin-top: -30px;
  float: right;
  display: block;
}

::ng-deep .custom-class {
  vertical-align: middle;
  margin-top: 1%;
}

.submitBtn {
  background: linear-gradient(#28a745, #32cc55);
  border-radius: 9px;

  padding-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 8%;
  font-size: 15px;
  color: #fff;
  border: none;
  text-shadow: 2px 2px 4px #000000;
}

.cancelBtn {
  background: linear-gradient(#fb483a, #ce4b40);
  border-radius: 9px;
  margin-left: 20px;
  padding-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 8%;
  font-size: 15px;
  color: #fff;
  border: none;
  text-shadow: 2px 2px 4px #000000;
}

.okBtn {
  background: linear-gradient(#28a745, #32cc55);
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 50%;
  border-radius: 9px;
  width: 60%;
  padding-left: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 8%;
  font-size: 15px;
  color: #fff;
  border: none;
  text-shadow: 2px 2px 4px #000000;
}
.options2 {
  border: none;
  background-color: #dc3545;
  border-radius: 50%;
  margin: 2%;
}

/*Carousel*/

.addBtn {
  background: linear-gradient(#28a745, #32cc55);
  border-radius: 9px;
  float: right;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #fff;
  border: none;
}

.addBtn2 {
  background: linear-gradient(#28a745, #32cc55);
  border-radius: 9px;

  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #fff;
  border: none;
}

.chatBtn {
  background: linear-gradient(#28a745, #32cc55);
  border-radius: 9px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 15px;
  color: #fff;
  border: none;
}

.options3 {
  border: none;
  background-color: #ff9600;
  border-radius: 50%;
  margin: 2%;
}

.green {
  color: #28a745;
}
.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
}

.card-body {
  border-radius: 20px;
}

.searchbar {
  margin-left: 20px;
  padding-left: 10px;
  width: 40%;
  border-radius: 20px;
  border: none;
  outline: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* .carousel-cell{
    margin-left:40px;
  } */

.divA {
  position: absolute;
  margin-left: 140px;
  width: 40%;
  opacity: 1;
  z-index: 9;
  background: #fff !important;
}

/*Carousel New */

::ng-deep .p-hide-paginator .p-carousel-indicators {
  display: none !important;
}

.card1 {
  background-color: #9454a9;
}

.card2 {
  background-color: #17a1b7;
}

.card3 {
  background-color: #ef8f33;
}
.card4 {
  background-color: #c94057;
}

.card5 {
  background-color: #28a745;
}

.special_curve{
  left: -16px;
}